<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="codingRound" verbose="1"
	thread-count="1" configfailurepolicy="continue">
	<test name="codingRound"
		preserve-order="true">
		<packages>
			<package name="testScript" />
		</packages>
<!-- 		<classes> -->
<!-- 			<class name="testScript.HotelBookingTest" /> -->
<!-- 		</classes> -->
	</test>
</suite>